{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{% static 'spa_dist/main.css' %}"/>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');
		@font-face {
			font-family: 'Noto Sans', 'Noto Sans JP', sans-serif; 
			font-style: normal;
			font-weight: 100;
		}
		html, body {
			margin: 0;
			padding: 0;
			width: 100%;
			overflow: hidden;
		}
		.fill {
			width: 100%;
			height: 100%;
		}

		* {
			box-sizing: border-box;
		}
	</style>
</head>
<body>
	<div id="mai-shogi-spa-app" class="fillW"></div>
	<!-- pass the path necessary to find the game piece svgs and such to the typescript applications -->
	<input type="text" id="load_root_dir" hidden value="{% static 'game_assets' %}"/>
	<input type="text" id="font_dir" hidden value="{% static 'fonts' %}"/>
	<script type="text/javascript" src="{% static 'spa_dist/main.js' %}"></script>
</body>
</html>
